* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.logo:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: color 0.5s ease;
}

a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, black, transparent);
    background-size: 300% 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

:not(.sign-in):not(.register) a:hover{
    color: #333;
}

nav ul li:not(.sign-in):not(.register) a:hover::after {
    opacity: 1;
    animation: shimmer111 2s linear infinite !important;
}

@keyframes shimmer111 {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.sign-in {
    background: #ddd;
    color: #333;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register {
    background: #333;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-in:hover {
    background: #ccc;
    color: #000;
    transform: translateY(-2px);
}

.register:hover {
    background: #555;
    color: #fff;
    transform: translateY(-2px);
}

.hero {
    text-align: center;
    padding: 50px;
    background: #eaeaea;
}

.hero h1 {
    font-size: 3.5em;
    color: #333;
}

.hero p {
    margin: 10px 0;
    font-size: 1.2em;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.light-btn {
    background: #ddd;
    border: 1px solid #ccc;
    color: #333;
    padding: 12px 25px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.dark-btn {
    background: #333;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.light-btn:hover {
    background: #ccc;
    padding: 15px;
    transition: 0.4s;
}

.dark-btn:hover {
    background: #555;
    padding: 15px;
    transition: 0.4s;
}

.accounts {
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}

.card {
    width: 100%;
    max-width: 450px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
    letter-spacing: 1px;
}

.card p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.dropdown {
    margin: 10px 0;
    overflow-y: auto;
    overflow: hidden;
}

.dropdown-btn {
    margin: 8px 0;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    outline: none;
    text-align: left;
    transition: all 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-btn:hover {
    background-color: #e0e0e0;
    transform: translateX(5px);
}

.add-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    outline: none;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #555;

}

footer {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.social-icons {
    display: flex;
    gap: 20px;
}

.x,
.insta,
.linker {
    font-size: 24px;
    cursor: pointer;
    color: #555;
    transition: all 0.3s ease;
}

.x:hover,
.insta:hover,
.linker:hover {
    color: #000;
    transform: scale(1.1);
}